<div class="container myFooter">
  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img
          class="mb-2"
          src="/assets/images/avernix-black.png"
          width="50%"
          max-height="auto"
          class="d-inline-block align-top"
          alt=""
        />
        <small class="d-block mb-3 text-muted">&copy; 2021-2022</small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Custom Domains</a></li>
          <li><a class="text-muted" href="#">Team Accounts</a></li>
          <li><a class="text-muted" href="#">Stuff for developers</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Resources</a></li>
          <li><a class="text-muted" href="#">Help Center</a></li>
          <li><a class="text-muted" href="#">API Documentation</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li>
            <a
              class="text-muted"
              [routerLink]="['/disclaimer']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Disclaimer</a
            >
          </li>
          <li>
            <a
              class="text-muted"
              [routerLink]="['/policy']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Privacy</a
            >
          </li>
          <li>
            <a
              class="text-muted"
              [routerLink]="['/tos']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Terms</a
            >
          </li>
        </ul>
      </div>
    </div>
  </footer>
</div>
