<div class="container">
  <h2>Link Details</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Url Code</th>
        <th>Long Url</th>
        <th>Expires</th>
        <th
          data-toggle="tooltip"
          data-placement="top"
          title="Deleting Links has been temporarily disabled"
        >
          Delete*
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ detailTask.shortUrl }}</td>
        <td>{{ detailTask.longUrl }}</td>
        <td>{{ detailTask.expireAt }}</td>
        <td>
          <button type="button" class="btn btn-danger btn-xs disabled">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
