<div class="container">
  <h2>Link Details</h2>
  <div class="card text-center urlCards col-12 col-sm-12 col-md-12 col-lg-12">
    <h5 class="card-header">
      <a
        routerLink="/{{ detailTask.shortUrl }}"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span>https://hostm.io/{{ detailTask.shortUrl }}</span>
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-box-arrow-up-right"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"
            />
            <path
              fill-rule="evenodd"
              d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"
            /></svg
        ></span>
      </a>
    </h5>
    <div class="card-body">
      <div class="card-title">
        <a
          href="{{ detailTask.longUrl }}"
          target="_blank"
          rel="noopener noreferrer"
          >{{ detailTask.longUrl }}</a
        >
      </div>
      <p class="card-text">Clicks: {{ detailTask.clicks }}</p>
      <p class="card-text">Points: {{ detailTask.points }}</p>
      <p class="card-text">Expires: {{ detailTask.expireAt }}</p>
      <p class="card-text">
        Status:
        {{ detailTask.deactivated === false ? "Active" : "Inactive" }}
      </p>
      <button
        type="button"
        class="btn btn-info btn-xs {{
          detailTask.deactivated === true ? 'disabled' : ''
        }}"
        (click)="patchExpireDate(detailTask.shortUrl)"
      >
        Extend
      </button>
      <!-- {{ detailTask.deactivated === false ? deleteTask(detailTask._id) : (click)="reactivateLink(detailTask._id)" }} -->
      <button
        type="button"
        class="btn btn-xs {{
          detailTask.deactivated === true ? 'btn-success' : 'btn-danger'
        }}"
        (click)="
          detailTask.deactivated === true
            ? reactivateLink(detailTask._id)
            : deleteTask(detailTask._id)
        "
      >
        {{ detailTask.deactivated === true ? "Reactivate" : "Deactivate" }}
      </button>
    </div>
  </div>
</div>
