<div class="container">
  <h1 class="center">Deactivated Links</h1>
  <div class="col-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
      <button
        type="button"
        class="btn btn-primary button-margin btn-lg view-long-url col-12 col-sm-12 col-md-12 col-lg-12"
        (click)="reloadLinks()"
      >
        Refresh Links
      </button>
    </div>
    <div class="container g-0">
      <div class="row">
        <div class="card-deck row col-12 col-sm-12 col-md-12 col-lg-12">
          <div
            class="card text-center urlCards col-12 col-sm-12 col-md-12 col-lg-6"
            *ngFor="let url of urls | reverse"
          >
            <app-link-card
              clicks="{{ url.clicks }}"
              shortUrl="{{ url.shortUrl }}"
              longUrl="{{ url.longUrl }}"
            ></app-link-card>

            <!-- <span
              class="position-absolute top-100 start-50 translate-middle badge badge-pill bg-success"
            >
              {{ url.clicks }} click(s)
              <span class="visually-hidden">times clicked</span>
            </span>
            <h5 class="card-header">
              <a
                routerLink="/{{ url.shortUrl }}"
                target="_blank"
                rel="noopener noreferrer"
                >https://hostm.io/{{ url.shortUrl }}
              </a>
            </h5>
            <div class="card-body">
              <div
                class="card-title text-overflow"
                [ngClass]="{ limitTextHeight: isReadMore }"
              >
                <a
                  href="{{ url.longUrl }}"
                  target="_blank"
                  rel="noopener noreferrer"
                  >{{ url.longUrl }}</a
                >
              </div>
              <p class="card-text">Link descriptions coming in v2 of the api</p>
              <button
                type="button"
                class="btn btn-primary button-margin btn-xs"
                ngxClipboard
                (cbOnSuccess)="this.successToast('Link Copied')"
                (cbOnError)="this.failToast('Error Copying Link')"
                [cbContent]="'https://hostm.io/' + url.shortUrl"
              >
                Copy Url
              </button>
              <button
                type="button"
                class="btn btn-info button-margin btn-xs"
                [routerLink]="['/details', url.shortUrl]"
              >
                Details
              </button>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <jw-pagination
    [items]="urls"
    (changePage)="onChangePage($event)"
  ></jw-pagination> -->
</div>
