<div class="container">
  <h1 class="center">Welcome to HostMio</h1>
  <app-add-task></app-add-task>

  <div class="row">
    <button
      type="button"
      class="btn btn-primary button-margin btn-lg view-long-url col-12 col-sm-12 col-md-12 col-lg-12"
      (click)="reloadLinks()"
    >
      Refresh Links
    </button>
    <!-- <button
      type="button"
      class="btn btn-info button-margin btn-lg view-long-url col-12 col-sm-12 col-md-12 col-lg-6"
      (click)="one.showText()"
    >
      {{ one.isReadMore ? "View Full LongURL" : "Hide Full LongURL" }}
    </button> -->
  </div>
  <div class="container g-0">
    <div class="row">
      <div class="card-deck row col-12 col-sm-12 col-md-12 col-lg-12">
        <div
          class="card text-center urlCards col-12 col-sm-12 col-md-12 col-lg-6"
          *ngFor="let url of urls | reverse"
        >
          <app-link-card
            clicks="{{ url.clicks }}"
            shortUrl="{{ url.shortUrl }}"
            longUrl="{{ url.longUrl }}"
          ></app-link-card>
        </div>
      </div>
    </div>
  </div>
  <!-- <jw-pagination
  [items]="urls"
  (changePage)="onChangePage($event)"
></jw-pagination> -->
</div>
