<div class="container">
  <h2>URL List</h2>
  <button
    type="button"
    class="btn btn-info button-margin btn-lg btn-block"
    (click)="showText()"
  >
    {{ isReadMore ? "View Full LongURL" : "Hide Full LongURL" }}
  </button>

  <div class="card text-center" *ngFor="let url of urls | reverse">
    <h5 class="card-header">
      <a
        href="https://hostm.io/s/{{ url.shortUrl }}"
        target="_blank"
        rel="noopener noreferrer"
        >https://hostm.io/s/{{ url.shortUrl }}</a
      >
    </h5>
    <div class="card-body">
      <div class="card-title" [ngClass]="{ limitTextHeight: isReadMore }">
        {{ url.longUrl }}
      </div>
      <p class="card-text">Link descriptions coming in v2 of the api</p>
      <button
        type="button"
        class="btn btn-primary button-margin btn-xs"
        ngxClipboard
        [cbContent]="'https://hostm.io/s/' + url.shortUrl"
      >
        Copy Url
      </button>
      <button
        type="button"
        class="btn btn-danger button-margin btn-xs"
        (click)="deleteTask(url._id)"
      >
        Delete
      </button>
    </div>
    <br />
  </div>
</div>
<!-- <jw-pagination
  [items]="urls"
  (changePage)="onChangePage($event)"
></jw-pagination> -->
