<div class="container">
  <h1>Add a URL</h1>
  <form (ngSubmit)="addTask()">
    <label for="longUrl" class="form-label"
      >Long Url (Make sure it is a full URL)</label
    >
    <input
      type="url"
      id="longUrl"
      class="form-control"
      placeholder="https://example.com"
      pattern="^(http(s)?:\/\/)+[\w\-\._~:\/?#[\]@!\$&'\(\)\*\+,;=.]+$"
      oninvalid="this.setCustomValidity('Please match the requested format')"
      [(ngModel)]="url.longUrl"
      [ngModelOptions]="{ standalone: true }"
      required
    />
    <br />
    <label for="shortUrl">Short Url (Leave blank to randomize)</label>
    <input
      type="text"
      id="shortUrl"
      class="form-control"
      placeholder="Enter Short URL"
      [(ngModel)]="url.shortUrl"
      [ngModelOptions]="{ standalone: true }"
    />

    <br />
    <button type="submit" class="btn btn-success" id="createNewTask">
      Create Short Link
    </button>
  </form>
</div>
